## KNN

 O K-Nearest Neighbors (KNN) é um modelo que tem como objetivo classificar ou efetuar a regressão baseando-se em dados do conjunto de treino que são parecidos com o dado a ser classificado. O ponto chave deste modelo é a aplicação de uma métrica de distância, tal como a distância euclidiana,

In [130]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

#KNN para Classificação

In [131]:
knn = KNeighborsClassifier(n_neighbors=3)

In [132]:
data = pd.read_table('https://raw.githubusercontent.com/evelynsantos/Data-visualization/main/dataset/fruit_data_with_colors.txt')
data.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [133]:
x = data[['mass','height','width','color_score']]
y = data['fruit_label']

In [134]:
x.head()

   mass  height  width  color_score
0   192     7.3    8.4         0.55
1   180     6.8    8.0         0.59
2   176     7.2    7.4         0.60
3    86     4.7    6.2         0.80
4    84     4.6    6.0         0.79

In [135]:
y.head()

0    1
1    1
2    1
3    2
4    2
Name: fruit_label, dtype: int64

In [136]:
from sklearn.model_selection import train_test_split

In [137]:
X_train, X_test, y_train, y_test = train_test_split(x,y)

In [138]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [139]:
#resultado do modelo treinado do conjunto de dados (acima de 70% é considerado um bom modelo)
knn.score(X_test,y_test)

0.4

Como os dados tem uma escala muito grande, vamos utilizar o sklearn mimMaxScaler para melhorar o treinamento

In [140]:
from sklearn.preprocessing import MinMaxScaler

In [141]:
mm = MinMaxScaler()

In [142]:
X_train = mm.fit_transform(X_train)
X_train

array([[0.3       , 0.53846154, 0.5       , 0.81578947],
       [0.3       , 0.55384615, 0.38235294, 0.55263158],
       [0.44285714, 1.        , 0.44117647, 0.44736842],
       [0.15714286, 0.67692308, 0.05882353, 0.5       ],
       [0.32142857, 0.50769231, 0.32352941, 1.        ],
       [0.27857143, 0.49230769, 0.41176471, 0.71052632],
       [0.15      , 0.61538462, 0.02941176, 0.44736842],
       [0.33571429, 0.6       , 0.52941176, 0.86842105],
       [0.03571429, 0.10769231, 0.11764706, 0.65789474],
       [0.35714286, 0.49230769, 0.47058824, 0.13157895],
       [0.34285714, 0.46153846, 0.47058824, 0.89473684],
       [0.23571429, 0.58461538, 0.52941176, 0.52631579],
       [0.34285714, 0.55384615, 0.38235294, 0.97368421],
       [0.42142857, 0.96923077, 0.41176471, 0.39473684],
       [0.31428571, 0.46153846, 0.41176471, 0.65789474],
       [0.01428571, 0.04615385, 0.        , 0.57894737],
       [0.41428571, 0.50769231, 0.76470588, 0.        ],
       [0.95      , 0.83076923, 0.94117647, 0.52631579],
       [0.27142857, 0.69230769, 0.20588235, 0.44736842],
       [0.14285714, 0.56923077, 0.14705882, 0.44736842],
       [0.28571429, 0.53846154, 0.52941176, 0.31578947],
       [0.27857143, 0.53846154, 0.38235294, 0.60526316],
       [0.37142857, 0.64615385, 0.52941176, 0.63157895],
       [0.14285714, 0.69230769, 0.08823529, 0.42105263],
       [1.        , 0.8       , 1.        , 0.52631579],
       [0.5       , 0.95384615, 0.44117647, 0.42105263],
       [0.39285714, 0.8       , 0.41176471, 0.44736842],
       [0.36428571, 0.58461538, 0.38235294, 0.97368421],
       [0.42857143, 0.87692308, 0.44117647, 0.44736842],
       [0.26428571, 0.6       , 0.38235294, 0.52631579],
       [0.31428571, 0.56923077, 0.44117647, 0.39473684],
       [0.27857143, 0.50769231, 0.44117647, 0.63157895],
       [0.19285714, 0.64615385, 0.05882353, 0.42105263],
       [0.        , 0.        , 0.        , 0.68421053],
       [0.02857143, 0.09230769, 0.05882353, 0.63157895],
       [0.37142857, 0.43076923, 0.64705882, 0.10526316],
       [0.22857143, 0.47692308, 0.44117647, 0.84210526],
       [0.14285714, 0.63076923, 0.02941176, 0.47368421],
       [0.01428571, 0.04615385, 0.02941176, 0.68421053],
       [0.24285714, 0.52307692, 0.29411765, 0.52631579],
       [0.29285714, 0.53846154, 0.38235294, 0.63157895],
       [0.3       , 0.52307692, 0.35294118, 0.68421053],
       [0.30714286, 0.47692308, 0.5       , 0.73684211],
       [0.30714286, 0.49230769, 0.47058824, 0.78947368]])

In [143]:
X_test = mm.transform(X_test)

X_test

array([[0.28571429, 0.47692308, 0.55882353, 0.36842105],
       [0.27142857, 0.50769231, 0.52941176, 0.36842105],
       [0.47857143, 0.61538462, 0.58823529, 0.71052632],
       [0.2       , 0.72307692, 0.        , 0.47368421],
       [1.02142857, 0.8       , 1.11764706, 0.5       ],
       [0.45714286, 0.8       , 0.5       , 0.57894737],
       [0.15      , 0.63076923, 0.08823529, 0.39473684],
       [0.22857143, 0.47692308, 0.26470588, 0.44736842],
       [0.29285714, 0.58461538, 0.41176471, 0.57894737],
       [0.14285714, 0.53846154, 0.05882353, 0.44736842],
       [0.32857143, 0.55384615, 0.5       , 0.47368421],
       [0.27857143, 0.47692308, 0.35294118, 0.86842105],
       [0.28571429, 0.52307692, 0.47058824, 0.76315789],
       [0.35      , 0.93846154, 0.44117647, 0.44736842],
       [0.40714286, 0.63076923, 0.5       , 0.5       ]])

In [144]:
knn = KNeighborsClassifier(n_neighbors=3)

In [145]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [146]:
knn.score(X_test,y_test)

0.8

In [147]:
knn.predict(X_test)

array([1, 1, 1, 4, 3, 4, 4, 3, 3, 4, 3, 1, 1, 4, 3])

In [148]:
y_test

15    1
14    1
31    3
49    4
26    3
27    3
58    4
28    3
38    3
51    4
17    1
12    1
21    1
48    4
33    3
Name: fruit_label, dtype: int64

#KNN para Regressão

In [149]:
from sklearn.neighbors import KNeighborsRegressor

In [150]:
knn = KNeighborsRegressor(n_neighbors=3)

In [151]:
from sklearn.datasets import load_boston

In [152]:
data = "http://lib.stat.cmu.edu/datasets/boston"

In [ ]:
x, y = load_boston(return_X_y=True)

In [154]:
print(x.shape)
print(y.shape)

(506, 13)
(506,)

In [ ]:
#escreve a descrição do dataset
print(load_boston()['DESCR'])

In [156]:
from sklearn.model_selection import train_test_split

In [157]:
X_train, X_test, y_train, y_test = train_test_split(x,y)

In [158]:
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [159]:
knn.score(X_test,y_test)

0.5481880393898428